# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
.python-version

# Django
*.log
db.sqlite3
media/

# Environment variables
.env

# IDEs and editors
.vscode/
*.sublime-project
*.sublime-workspace
