<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
</head>
<body class="bg-gray-900">
    <div class="flex p-2 gap-4 text-gray-100 text-xs">

        <div class="w-2/5">
            <div class="bg-gray-600 rounded" style="height:250px"></div>
            <div class="bg-gray-800 p-1 mt-2">
            <div>
                <div class="flex justify-evenly mt-2">
                    <p class="py-1 px-3 bg-purple-800 rounded">Start</p>
                    <p class="py-1 px-3 bg-gray-700 rounded">End</p>
                    <p class="py-1 px-3 bg-gray-700 rounded">Save</p>
                    <p class="h-6 w-6 text-center p-1 rounded-full bg-gray-700">1</p>
                    <p class="h-6 w-6 text-center p-1 rounded-full bg-gray-700">2</p>
                    <p class="h-6 w-6 text-center p-1 rounded-full bg-gray-700">3</p>
                    <p class="h-6 w-6 text-center p-1 rounded-full bg-gray-700">4</p>
                    <p class="h-6 w-6 text-center p-1 rounded-full bg-gray-700">5</p>
                    <p class="h-6 w-6 text-center p-1 rounded-full bg-gray-700">6</p>
                    <p class="h-6 w-6 text-center p-1 rounded-full bg-gray-700">6+</p>
                    <p class="py-1 px-3 bg-gray-700 rounded">Wkt</p>
                    <p class="py-1 px-3 bg-gray-700 rounded">Ext</p>
                    <p class="py-1 px-3 bg-gray-700 rounded">WTO</p>
                </div>

                <div class="flex mt-4 rounded-lg">
                    <div class="w-full flex gap-4">
                        <table class="w-3/4">
                            <thead class="bg-gray-700 text-left">
                                <th>
                                    <td>Batsman</td>
                                    <td>Runs</td>
                                    <td>Balls</td>
                                    <td>4s</td>
                                    <td>6s</td>
                                    <td>SR</td>
                                </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Jason Holder</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>100.00</td>
                                </tr>
                                <tr>
                                    <td>Quinton De Kock</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>100.00</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="w-1/4 text-center bg-gray-700 rounded-xl p-1">
                            <p class="font-bold">CSK</p>
                            <p class="text-xl border-b-2 border-gray-600 p-1 text-yellow-500 font-bold">234/5</p>
                            <div class="flex justify-evenly">
                                <div><p>Overs</p><p class="font-bold">18.4</p></div>
                                <div class="h-full border-l-2 border-gray-500"></div>
                                <div><p>RR</p><p class="font-bold">8.4</p></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <table class="w-3/4">
                        <thead class="bg-gray-700 text-left">
                            <th>
                                <td>Bowler</td>
                                <td>Over</td>
                                <td>Maiden</td>
                                <td>Runs</td>
                                <td>Wickets</td>
                                <td>ECON</td>
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="p-2">J Bumraj</td>
                                <td>3.2</td>
                                <td>1</td>
                                <td>12</td>
                                <td>3</td>
                                <td>3.5</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
            </div>

            <div class="flex border-t-2 border-gray-600 mt-1 pt-2">
                <div class="w-2/5 flex flex-col gap-1 border-r-2 mr-2 border-gray-700">
                    <div class="flex gap-2 border-b-2 border-gray-700 p-1">
                        <p>7.0</p>
                        <p>0</p>
                        <p>Jason holder to MS Dhoni</p>
                        <p>🖉</p>
                    </div>
                    <div class="flex gap-2 border-b-2 border-gray-700 p-1">
                        <p>7.0</p>
                        <p>0</p>
                        <p>Jason holder to MS Dhoni</p>
                        <p>🖉</p>
                    </div>
                    <div class="flex gap-2 border-b-2 border-gray-700 p-1">
                        <p>7.0</p>
                        <p>0</p>
                        <p>Jason holder to MS Dhoni</p>
                        <p>🖉</p>
                    </div>
                    <div class="flex gap-2 border-b-2 border-gray-700 p-1">
                        <p>7.0</p>
                        <p>0</p>
                        <p>Jason holder to MS Dhoni</p>
                        <p>🖉</p>
                    </div>
                    <div class="flex gap-2 border-b-2 border-gray-700 p-1">
                        <p>7.0</p>
                        <p>0</p>
                        <p>Jason holder to MS Dhoni</p>
                        <p>🖉</p>
                    </div>
                    <div class="flex gap-2 border-b-2 border-gray-700 p-1">
                        <p>7.0</p>
                        <p>0</p>
                        <p>Jason holder to MS Dhoni</p>
                        <p>🖉</p>
                    </div>
                </div>
                <div class="w-3/5 flex flex-col gap-2">
                    <div class="flex gap-2">
                        <p class="border-2 border-red-500 rounded-xl px-2 py-1 text-red-500">Dead</p>
                        <div class="flex p-1">
                            <p class="bg-gray-600 px-1 rounded-l-lg">Ball Speed</p>
                            <input type="text" class="w-16 rounded-r-lg">
                        </div>
                        <div class="flex p-1 bg-gray-700 rounded-lg gap-2 px-2">
                            <p class="bg-purple-500 px-1">KPH</p>
                            <p>MPH</p>
                        </div>
                    </div>

                    <div class="flex gap-2">
                        <input type="text" class="w-1/4 py-1 px-2 rounded-lg" placeholder="Swing">
                        <input type="text" class="w-1/4 py-1 px-2 rounded-lg" placeholder="Penalty">
                        <input type="text" class="w-1/4 py-1 px-2 rounded-lg" placeholder="Bat Spd">
                        <input type="text" class="w-1/4 py-1 px-2 rounded-lg" placeholder="Ov Th Runs">
                    </div>

                    <div class="flex gap-2 bg-gray-600 w-2/5 text-center p-1 rounded">
                        <p class="bg-purple-700 px-1 rounded">Fielder1</p>
                        <p>Fielder2</p>
                    </div>

                    <div class="flex gap-2">
                        <p class="bg-gray-700 py-1 px-2 rounded hover:bg-green-600">Is Boundary</p>
                        <p class="bg-gray-700 py-1 px-2 rounded hover:bg-green-600">Is Free hit</p>
                        <p class="bg-gray-700 py-1 px-2 rounded hover:bg-green-600">Diagonal</p>
                    </div>

                    <div class="flex gap-2">
                        <p class="bg-gray-700 py-1 px-2 rounded hover:bg-green-600">Short Runs</p>
                        <p class="bg-gray-700 py-1 px-2 rounded hover:bg-green-600">Edit Later</p>
                    </div>

                </div>
            </div>
            </div>
        </div>

        <div class="w-1/5">
            <div>
                <div class="bg-gray-700 flex text-center justify-evenly rounded-t-lg"><p class="p-1 bg-purple-600 w-1/2 rounded-tl-lg">Shot Zone</p><p class="p-1 w-1/2">Wagon Wheel</p></div>
                <div class="bg-gray-600 rounded-b-lg" style="height:220px"></div>
            </div>
            <div class="mt-2">
                <div class="bg-gray-700 flex text-center justify-evenly rounded-t-lg"><p class="p-1 bg-purple-600 w-1/2 rounded-tl-lg">Shot Zone</p><p class="p-1 w-1/2">Wagon Wheel</p></div>
                <div class="bg-gray-600 rounded-b-lg" style="height:180px"></div>
            </div>
            <div class="mt-2">
                <div class="bg-gray-600 rounded-lg" style="height:120px"></div>
            </div>
        </div>

        <div class="w-2/5 flex">
            <div class="w-1/4 border-b-2 border-r-2 border-gray-900">
                <p class="bg-gray-800 px-2 py-1 rounded-tl-lg">DELIVERY TYPE</p>
                {% for i in '123456565675767887567655767564' %}
                    <p class="border-b-2 border-gray-800 bg-gray-700 px-2">In Swing</p>
                {% endfor %}
            </div>
            <div class="w-1/4 border-b-2 border-r-2 border-gray-900">
                <p class="bg-gray-800 px-2 py-1 ">CREASE MOVEMENT</p>
                {% for i in '123456565564' %}
                    <p class="border-b-2 border-gray-800 bg-gray-700 px-2">In Swing</p>
                {% endfor %}

                <p class="bg-gray-800 px-2 py-1 ">SHOT CONNECTION</p>
                {% for i in '12345656' %}
                    <p class="border-b-2 border-gray-800 bg-gray-700 px-2">In Swing</p>
                {% endfor %}

                <p class="bg-gray-800 px-2 py-1 ">BAT SUBJECT</p>
                {% for i in '123456989' %}
                    <p class="border-b-2 border-gray-800 bg-gray-700 px-2">In Swing</p>
                {% endfor %}
            </div>
            <div class="w-1/4 border-b-2 border-r-2 border-gray-900">
                <p class="bg-gray-800 px-2 py-1 ">STROKE</p>
                {% for i in '12345656556488978777889989989' %}
                    <p class="border-b-2 border-gray-800 bg-gray-700 px-2">In Swing</p>
                {% endfor %}

                <p class="bg-gray-800 px-2 py-1 ">KEEPER</p>
                {% for i in '123' %}
                    <p class="border-b-2 border-gray-800 bg-gray-700 px-2">In Swing</p>
                {% endfor %}
            </div>
            <div class="w-1/4">
                <p class="bg-gray-800 px-2 py-1 ">BATSMAN</p>
                {% for i in '123456565564' %}
                    <p class="border-b-2 border-gray-800 bg-gray-700 px-2">In Swing</p>
                {% endfor %}

                <p class="bg-gray-800 px-2 py-1 ">FIELDING</p>
                {% for i in '12345656' %}
                    <p class="border-b-2 border-gray-800 bg-gray-700 px-2">In Swing</p>
                {% endfor %}

                <p class="bg-gray-800 px-2 py-1 ">UMPIRE</p>
                {% for i in '123456989' %}
                    <p class="border-b-2 border-gray-800 bg-gray-700 px-2">In Swing</p>
                {% endfor %}
            </div>
        </div>

    </div>
</body>
</html>